In [1]:
 # %matplotlib inline
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
##from wordcloud import WordCloud

In [2]:
hm_data = pd.read_csv('cleaned_hm.csv')
hm_data.head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection
1,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection
2,27675,1936,24h,I went to the gym this morning and did yoga.,I went to the gym this morning and did yoga.,True,1,NaN,exercise
3,27676,206,24h,We had a serious talk with some friends of our...,We had a serious talk with some friends of our...,True,2,bonding,bonding
4,27677,6227,24h,I went with grandchildren to butterfly display...,I went with grandchildren to butterfly display...,True,1,NaN,affection

In [3]:
hm_data.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
dtype: int64

In [4]:
hm_data.predicted_category.unique()

array(['affection', 'exercise', 'bonding', 'leisure', 'achievement',
       'enjoy_the_moment', 'nature'], dtype=object)

In [5]:
hm_data.loc[hm_data["reflection_period"]=='3m'].head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
30455,58297,888,3m,nowing im going to travel to china soon,nowing im going to travel to china soon,True,1,leisure,leisure
30456,58298,129,3m,I ate a really good dinner.,I ate a really good dinner.,True,1,NaN,enjoy_the_moment
30457,58299,1354,3m,I went to a Lehigh Valley phantoms hockey game.,I went to a Lehigh Valley phantoms hockey game.,True,1,NaN,leisure
30458,58300,384,3m,I saw the woman I love.,I saw the woman I love.,True,1,NaN,affection
30459,58301,1111,3m,the babyset i ordered finally came and i set i...,the baby set i ordered finally came and i set ...,False,1,NaN,achievement

In [6]:
df_hm = hm_data[hm_data['cleaned_hm'].notnull()]
len_count = df_hm['cleaned_hm'].apply(lambda x: len(x.split()))
len_count.describe()

count    100535.000000
mean         18.298503
std          21.474146
min           2.000000
25%           9.000000
50%          14.000000
75%          21.000000
max        1179.000000
Name: cleaned_hm, dtype: float64

In [7]:
df_hm[df_hm['cleaned_hm'].apply(lambda x: len(x.split()))==2].head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
1100,28775,634,24h,Shooting guns.,Shooting guns.,True,1,NaN,leisure
4903,32612,7012,24h,My kids.,My kids.,True,1,NaN,affection
7646,35375,2082,24h,"dude, weed","dude, weed",True,1,NaN,enjoy_the_moment
12496,40246,755,24h,watching ncis.,watching ncis.,True,1,NaN,leisure
14868,42633,10831,24h,Donated blood.,Donated blood.,True,1,NaN,achievement

In [8]:
length_order = ["0-4", "5-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", \
                "40-44", "45-49", ">=50"]
length_category = len_count.apply(lambda x: length_order[min(10, int(x/5))])
length_counts = pd.DataFrame(length_category.value_counts()).reset_index()
length_counts.columns = ['word numbers', '# of moments']

sns.barplot(x='word numbers', y='# of moments', data=length_counts, order=length_order)

In [12]:
#text = ' '.join(df_hm['cleaned_hm'].tolist())
#text = text.lower()
#wordcloud = WordCloud(background_color="white", height=2700, width=3600).generate(text)
#plt.figure( figsize=(14,8) )
#plt.imshow(wordcloud.recolor(colormap=plt.get_cmap('Set2')), interpolation='bilinear')
#plt.axis("off")

In [13]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

# Check each moment, and increase the count for the mentioned season
season_dic = dict((x,0) for x in seasons)
tokens_hm = df_hm['cleaned_hm'].apply(lambda x: x.split())
for _, value in tokens_hm.iteritems():
    for word in value:
        if word in seasons:
            season_dic[word] += 1
            
season_dic

{'Fall': 6, 'Spring': 81, 'Summer': 27, 'Winter': 6}

In [14]:
# Read the happyDB sample file
with open('happydb.txt', 'w') as ofile:
    len = int(df_hm.shape[0] / 8)
    for i in range(0, len - 1):
        ofile.write(df_hm['cleaned_hm'].iloc[i] + '\n')
        
print("Happy moments are retrieved!")

Happy moments are retrieved!

In [17]:
df1 = pd.read_csv('demographic.csv')

In [24]:
df1.count()

wid           10844
age           10809
country       10771
gender        10812
marital       10787
parenthood    10813
dtype: int64

In [19]:
# to combine two datasets we can use merge or append
hm_new = pd.merge(hm_data , df1)

In [20]:
hm_new.head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it","Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n

In [26]:
hm_new.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
age                      100442
country                  100332
gender                   100456
marital                  100378
parenthood               100457
dtype: int64

In [27]:
hm_data.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
dtype: int64

In [28]:
hm_data

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection
1,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection
2,27675,1936,24h,I went to the gym this morning and did yoga.,I went to the gym this morning and did yoga.,True,1,NaN,exercise
3,27676,206,24h,We had a serious talk with some friends of our...,We had a serious talk with some friends of our...,True,2,bonding,bonding
4,27677,6227,24h,I went with grandchildren to butterfly display...,I went with grandchildren to butterfly display...,True,1,NaN,affection
5,27678,45,24h,I meditated last night.,I meditated last night.,True,1,leisure,leisure
6,27679,195,24h,"I made a new recipe for peasant bread, and it ...","I made a new recipe for peasant bread, and it ...",True,1,NaN,achievement
7,27680,740,24h,I got gift from my elder brother which was rea...,I got gift from my elder brother which was rea...,True,1,NaN,affection
8,27681,3,24h,YESTERDAY MY MOMS BIRTHDAY SO I ENJOYED,YESTERDAY MY MOMS BIRTHDAY SO I ENJOYED,True,1,NaN,enjoy_the_moment
9,27682,4833,24h,Watching cupcake wars with my three teen children,Watching cupcake wars with my three teen children,True,1,NaN,affection
10,27683,7334,24h,I came in 3rd place in my Call of Duty video g...,I came in 3rd place in my Call of Duty video g...,True,1,NaN,leisure
11,27684,78,24h,I completed my 5 miles run without break. It m...,I completed my 5 miles run without break. It m...,True,2,NaN,exercise
12,27685,21,24h,went to movies with my friends it was fun,went to movies with my friends it was fun,True,1,NaN,bonding
13,27686,8,24h,I was shorting Gold and made $200 from the trade.,I was shorting Gold and made $200 from the trade.,True,1,NaN,achievement
14,27687,586,24h,Hearing Songs It can be nearly impossible to g...,Hearing Songs It can be nearly impossible to g...,False,2,NaN,enjoy_the_moment
15,27688,489,24h,My son performed very well for a test preparat...,My son performed very well for a test preparat...,True,1,NaN,affection
16,27689,976,24h,I helped my neighbour to fix their car damages.,I helped my neighbour to fix their car damages.,True,1,NaN,bonding
17,27690,3972,24h,Managed to get the final trophy in a game I wa...,Managed to get the final trophy in a game I wa...,True,1,NaN,achievement
18,27691,14,24h,A hot kiss with my girl friend last night made...,A hot kiss with my girl friend last night made...,True,1,NaN,bonding
19,27692,1230,24h,My new BCAAs came in the mail. Yay! Strawberry...,My new BCAAs came in the mail. Yay! Strawberry...,True,3,NaN,affection
20,27693,9950,24h,Got A in class.,Got A in class.,True,1,NaN,achievement
21,27694,4862,24h,My sister called me from abroad this morning a...,My sister called me from abroad this morning a...,True,2,NaN,affection
22,27695,4891,24h,The cake I made today came out amazing. It tas...,The cake I made today came out amazing. It tas...,True,2,NaN,achievement
23,27696,737,24h,There are two types of people in the world: th...,There are two types of people in the world: th...,False,2,NaN,enjoy_the_moment
24,27697,498,24h,My grandmother start to walk from the bed afte...,My grandmother start to walk from the bed afte...,True,1,affection,affection
25,27698,2124,24h,i was able to hit a top spin serve in tennis,i was able to hit a top spin serve in tennis,True,1,NaN,achievement
26,27699,156,24h,I napped with my husband on the bed this after...,I napped with my husband on the bed this after...,True,1,NaN,affection
27,27700,1783,24h,My co-woker started playing a Carley Rae Jepse...,My co-woker started playing a Carley Rae Jepse...,True,1,NaN,leisure
28,27701,3382,24h,My son woke me up to a fantastic breakfast of ...,My son woke me up to a fantastic breakfast of ...,True,1,NaN,affection
29,27702,54,24h,After a long time my brother gave a suprise vi...,After a long time my brother gave a suprise vi...,True,1,NaN,affection
...,...,...,...,...,...,...,...,...,...
100505,128737,1161,24h,DRY DAY CELEBRATION,DRY DAY CELEBRATION,True,1,NaN,achievement
100506,128738,2780,24h,My bills were paid on time,My bills were paid on time,True,1,NaN,achievement
100507,128739,2545,24h,I watched my favorite gamer on Twitch.tv and h...,I watched my favorite gamer on Twitch.tv and h...,True,1,NaN,leisure
100508,128740,10983,24h,I was able to accomplish one of my goals at wo...,I was able to accomplish one of my goals at wo...,True,1,NaN,achievement
100509,128741,3948,24h,I heard a song I really like on the radio this...,I heard a song I really like on the radio this...,True,1,NaN,enjoy_the_moment
100510,128742,525,24h,A friend called just to see how i'd been doing.,A friend called just to see how i'd been doing.,True,1,NaN,bonding
100511,128743,13605,24h,Last night while attending my grandmother's wa...,Last night while attending my grandmother's wa...,True,1,NaN,bonding
100512,128744,5180,24h,My friend came to my home and he give some gif...,My friend came to my home and he give some gif...,True,1,NaN,bonding
100513,128745,1234,24h,I went shopping for Father's Day dinner on Sun...,I went shopping for Father's Day dinner on Sun...,True,1,NaN,affection
100514,128746,248,24h,I woke up in the middle of the night and reali...,I woke up in the middle of the night and reali...,True,1,enjoy_the_moment,enjoy_the_moment
100515,128747,2974,24h,I had pizza for dinner and it was great,I had pizza for dinner and it was great,True,1,NaN,enjoy_the_moment
100516,128748,8880,24h,My husband called me just to tell me he loved me.,My husband called me just to tell me he loved me.,True,1,NaN,affection
100517,128749,2616,24h,I was able to weed my entire garden and plant ...,I was able to weed my entire garden and plant ...,True,1,NaN,nature
100518,128750,323,24h,A coworker praised the job I did on a recent p...,A coworker praised the job I did on a recent p...,True,1,NaN,achievement
100519,128751,11402,24h,Fixed my car.,Fixed my car.,True,1,NaN,achievement
100520,128752,301,24h,I had a little time to myself in the afternoon.,I had a little time to myself in the afternoon.,True,1,NaN,enjoy_the_moment
100521,128753,597,24h,"I worked out, which always makes me feel good.","I worked out, which always makes me feel good.",True,1,NaN,enjoy_the_moment
100522,128754,105,24h,Finally got to watch the new Resident Evil movie.,Finally got to watch the new Resident Evil movie.,True,1,NaN,leisure
100523,128755,22,24h,I made plans to go to a new restaurant with th...,I made plans to go to a new restaurant with th...,True,1,NaN,bonding
100524,128756,412,24h,"Those rare, perfectly timed naps that leave yo...","Those rare, perfectly timed naps that leave yo...",True,3,NaN,achievement
100525,128757,1767,24h,I got to talk to an old friend and reminisce o...,I got to talk to an old friend and reminisce o...,True,1,NaN,bonding
100526,128758,4428,24h,Yesterday my relations came to my house. That ...,Yesterday my relations came to my house. That ...,True,2,affection,affection
100527,128759,11050,24h,I am fond of seeing cricket match. Yesterday t...,I am fond of seeing cricket match. Yesterday t...,True,6,NaN,enjoy_the_moment
100528,128760,5,24h,My daughter made a very funny sound when I was...,My daughter made a very funny sound when I was...,True,1,NaN,affection
100529,128761,4298,24h,I spent time with my daughter.,I spent time with my daughter.,True,1,NaN,affection
100530,128762,112,24h,My husband announced he is getting a decent bo...,My husband announced he is getting a decent bo...,True,1,NaN,affection
100531,128763,714,24h,Had a can of Pepsi to drink.,Had a can of Pepsi to drink.,True,1,NaN,enjoy_the_moment
100532,128764,3934,24h,Cuddling with my girlfriend last night.,Cuddling with my girlfriend last night.,True,1,affection,affection
100533,128765,1629,24h,I had a great meeting yesterday at work with m...,I had a great meeting yesterday at work with m...,True,1,NaN,bonding
100534,128766,141,24h,I had a great workout last night.,I had a great workout last night.,True,1,NaN,exercise

In [29]:
df1

         wid   age country gender    marital parenthood
0          1  37.0     USA      m    married          y
1          2  29.0     IND      m    married          y
2          3    25     IND      m     single          n
3          4    32     USA      m    married          y
4          5    29     USA      m    married          y
5          6    35     IND      m    married          y
6          7    34     USA      m    married          y
7          8    29     VNM      m     single          n
8          9    61     USA      f    married          y
9         10    27     USA      m     single          n
10        11  45.0     USA      m   divorced          n
11        12    25     USA      f     single          n
12        13  45.0     IND      m    married          y
13        14  25.0     IND      m    married          y
14        15    27     USA      m    married          y
15        16  35.0     USA      m     single          n
16        17  30.0     USA      m     single          n
17        18    30     USA      m     single          n
18        19    29     USA      m    married          n
19        20    40     USA      m    married          y
20        21  29.0     IND      m     single          y
21        22    32     USA      m     single          n
22        23    27     IND      m     single          n
23        24    35     IND      f     single          n
24        25  32.0     IND      m    married          y
25        26  31.0     IND      f    married          y
26        27    28     USA      m    married          y
27        28  36.0     USA      m    married          y
28        29    44     USA      m     single          n
29        30  37.0     USA      m    married          y
...      ...   ...     ...    ...        ...        ...
10814  13797  26.0     USA      f     single          n
10815  13798    42     USA      m    married          y
10816  13799  20.0     USA      m     single          n
10817  13800    19     USA      f     single          n
10818  13803    22     ISL      m     single          n
10819  13804    46     USA      m     single          n
10820  13805    30     UKR      m     single          n
10821  13808  42.0     USA      f     single          y
10822  13810    47     USA      m    married          n
10823  13811  24.0     USA      f     single          n
10824  13814    34     USA      f    married          y
10825  13815    32     USA      f    married          y
10826  13816  35.0     USA      m     single          n
10827  13817    36     USA      m  separated          y
10828  13819  28.0     USA      m     single          n
10829  13821    43     NLD      m    married          y
10830  13822  32.0     USA      f    married          n
10831  13823  21.0     USA      m     single          n
10832  13825    34     USA      f     single          n
10833  13828    29     USA      m    married          y
10834  13829    28     USA      m        NaN          n
10835  13830    50     USA      f   divorced          y
10836  13832    34     USA      f    married          y
10837  13833  31.0     USA      m    married          y
10838  13834    22     USA      m     single          n
10839  13835  25.0     USA      m     single          n
10840  13836    31     USA      m     single          y
10841  13837  22.0     USA      f     single          n
10842  13838    38     USA      f    married          y
10843  13839    24     USA      f     single          y

[10844 rows x 6 columns]

In [30]:
hm_new

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it","Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n
5,35522,2053,24h,Talked to my romantic prospect,Talked to my romantic prospect,True,1,NaN,affection,35,USA,m,single,n
6,40281,2053,24h,I played a game for about half an hour.,I played a game for about half an hour.,True,1,leisure,leisure,35,USA,m,single,n
7,40381,2053,24h,I discovered another album I hadn't heard by a...,I discovered another album I hadn't heard by a...,True,1,NaN,achievement,35,USA,m,single,n
8,40481,2053,24h,I talked to the girl I'm dating about some int...,I talked to the girl I'm dating about some int...,True,1,NaN,affection,35,USA,m,single,n
9,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection,29.0,IND,m,married,y
10,27874,2,24h,I was very happy when my family brings me beau...,I was very happy when my family brings me beau...,True,1,NaN,affection,29.0,IND,m,married,y
11,28074,2,24h,I was happy when I got my new incentives from ...,I was happy when I got my new incentives from ...,True,1,NaN,achievement,29.0,IND,m,married,y
12,29946,2,24h,When my family cooked my favorite food at night,When my family cooked my favorite food at night,True,1,NaN,affection,29.0,IND,m,married,y
13,30945,2,24h,When my son got recovery from their disease,When my son got recovery from their disease,True,1,NaN,affection,29.0,IND,m,married,y
14,31944,2,24h,When my mother got finalized stay for transfer...,When my mother got finalized stay for transfer...,True,1,NaN,affection,29.0,IND,m,married,y
15,32821,2,24h,When my family plan a abroad tour with me,When my family plan a abroad tour with me,True,1,affection,affection,29.0,IND,m,married,y
16,33021,2,24h,When my son realize their emotions and duty,When my son realize their emotions and duty,True,1,NaN,affection,29.0,IND,m,married,y
17,33221,2,24h,When my brother got a new job offer from abroad,When my brother got a new job offer from abroad,True,1,NaN,affection,29.0,IND,m,married,y
18,33843,2,24h,I was very happy last 24 hours when I received...,I was very happy last 24 hours when I received...,True,1,NaN,achievement,29.0,IND,m,married,y
19,34843,2,24h,When my house ready to live with my family,When my house ready to live with my family,True,1,affection,affection,29.0,IND,m,married,y
20,35843,2,24h,When my nephew new born yesterday.,When my nephew new born yesterday.,True,1,NaN,affection,29.0,IND,m,married,y
21,36431,2,24h,When my wife got recover from their cough and ...,When my wife got recover from their cough and ...,True,1,NaN,affection,29.0,IND,m,married,y
22,36731,2,24h,When my house ready to possession with my family,When my house ready to possession with my family,True,1,NaN,affection,29.0,IND,m,married,y
23,37031,2,24h,When my friend meet me today with expensive gi...,When my friend meet me today with expensive gi...,True,1,bonding,bonding,29.0,IND,m,married,y
24,37599,2,24h,When my friend meet to me after many days and ...,When my friend meet to me after many days and ...,True,1,NaN,bonding,29.0,IND,m,married,y
25,38598,2,24h,I was very happy when my son playing with whol...,I was very happy when my son playing with whol...,True,1,affection,affection,29.0,IND,m,married,y
26,39597,2,24h,When my family cooked and buying my favorite c...,When my family cooked and buying my favorite c...,True,1,NaN,affection,29.0,IND,m,married,y
27,40963,2,24h,I was very happy last night when I achieved my...,I was very happy last night when I achieved my...,True,1,NaN,affection,29.0,IND,m,married,y
28,41863,2,24h,When my family arrange for trip to abroad with me,When my family arrange for trip to abroad with me,True,1,NaN,affection,29.0,IND,m,married,y
29,42763,2,24h,When I shift my new home with my entire family,When I shift my new home with my entire family,True,1,NaN,affection,29.0,IND,m,married,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100505,127721,13677,24h,"I got a phone call from my sister, that see is...","I got a phone call from my sister, that see is...",True,1,NaN,affection,64,IND,m,married,y
100506,128221,13677,24h,I attended an engagement in the morning with m...,I attended an engagement in the morning with m...,True,2,NaN,affection,64,IND,m,married,y
100507,128721,13677,24h,"I made some special dishes for lunch, and my n...","I made some special dishes for lunch, and my n...",True,1,NaN,affection,64,IND,m,married,y
100508,127724,6895,24h,"My son, who is three months old, was able to s...","My son, who is three months old, was able to s...",True,1,NaN,affection,34,USA,m,married,y
100509,128224,6895,24h,Yesterday was my last day of work before start...,Yesterday was my last day of work before start...,True,1,NaN,achievement,34,USA,m,married,y
100510,128724,6895,24h,I was able to bench press 175 pounds for 3 set...,I was able to bench press 175 pounds for 3 set...,True,1,NaN,achievement,34,USA,m,married,y
100511,127727,8689,24h,"Waking up in the morning, and making myself a ...","Waking up in the morning, and making myself a ...",True,1,NaN,enjoy_the_moment,24,USA,f,single,n
100512,128227,8689,24h,Watching the clock turn from 5.59 pm to 6.00 p...,Watching the clock turn from 5.59 pm to 6.00 p...,True,1,NaN,leisure,24,USA,f,single,n
100513,128727,8689,24h,Sending my best friend a message.,Sending my best friend a message.,True,1,NaN,bonding,24,USA,f,single,n
100514,127733,5798,24h,"While I was at the store, strawberries were ch...","While I was at the store, strawberries were ch...",True,1,NaN,achievement,26,USA,m,single,n
100515,128233,5798,24h,I called an old friend that I have not spoken ...,I called an old friend that I have not spoken ...,True,1,NaN,bonding,26,USA,m,single,n
100516,128733,5798,24h,I won in the multiplayer video game I was play...,I won in the multiplayer video game I was play...,True,1,NaN,leisure,26,USA,m,single,n
100517,127740,10983,24h,I did a favor for a coworker. I stayed a bit ...,I did a favor for a coworker. I stayed a bit ...,True,2,NaN,achievement,32,USA,m,single,n
100518,128240,10983,24h,"I was able to sell an item on Craigslist, got ...","I was able to sell an item on Craigslist, got ...",True,1,NaN,achievement,32,USA,m,single,n
100519,128740,10983,24h,I was able to accomplish one of my goals at wo...,I was able to accomplish one of my goals at wo...,True,1,NaN,achievement,32,USA,m,single,n
100520,127743,13605,24h,Yesterday I took my son to the local zoo.,Yesterday I took my son to the local zoo.,True,1,NaN,affection,36,USA,f,married,y
100521,128243,13605,24h,Last night while attending my grandmother's wa...,Last night while attending my grandmother's wa...,True,1,NaN,affection,36,USA,f,married,y
100522,128743,13605,24h,Last night while attending my grandmother's wa...,Last night while attending my grandmother's wa...,True,1,NaN,bonding,36,USA,f,married,y
100523,127747,2974,24h,"I get to see my best friend after a month, sin...","I get to see my best friend after a month, sin...",True,1,NaN,bonding,24,MEX,m,single,n
100524,128247,2974,24h,"I get to play videogames at home, after a long...","I get to play videogames at home, after a long...",True,1,NaN,leisure,24,MEX,m,single,n
100525,128747,2974,24h,I had pizza for dinner and it was great,I had pizza for dinner and it was great,True,1,NaN,enjoy_the_moment,24,MEX,m,single,n
100526,127748,8880,24h,I got on the scales in the morning and I was 5...,I got on the scales in the morning and I was 5...,True,1,achievement,achievement,58,USA,f,married,n
100527,128248,8880,24h,It's Friday and I get all afternoon off!,It's Friday and I get all afternoon off!,True,1,NaN,achievement,58,USA,f,married,n
100528,128748,8880,24h,My husband called me just to tell me he loved me.,My husband called me just to tell me he loved me.,True,1,NaN,affection,58,USA,f,married,n
100529,127751,11402,24h,Quite dinner with my wife.,Quite dinner with my wife.,True,1,affection,affection,32,USA,m,married,n
100530,128251,11402,24h,Was told I was a great employee by my boss.,Was told I was a great employee by my boss.,True,1,NaN,achievement,32,USA,m,married,n
100531,128751,11402,24h,Fixed my car.,Fixed my car.,True,1,NaN,achievement,32,USA,m,married,n
100532,127759,11050,24h,Four year back I lost my job. Now I am living ...,Four year back I lost my job. Now I am living ...,True,6,NaN,achievement,65,IND,m,married,y
100533,128259,11050,24h,Yesterday evening I received a call from unkno...,Yesterday evening I received a call from unkno...,True,7,bonding,bonding,65,IND,m,married,y
100534,128759,11050,24h,I am fond of seeing cricket match. Yesterday t...,I am fond of seeing cricket match. Yesterday t...,True,6,NaN,enjoy_the_moment,65,IND,m,married,y

In [40]:
# Drop features
hm_new.drop('original_hm', axis=1, inplace=True)

In [41]:
# Check if its dropped
hm_new.head()

,hmid,wid,reflection_period,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n

In [42]:
# Drop multiple features at once in a list
hm_new.drop(['cleaned_hm','modified','num_sentence','ground_truth_category'], axis=1, inplace=True)

In [46]:
hm_new

,hmid,wid,reflection_period,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,affection,35,USA,m,single,n
1,27873,2053,24h,leisure,35,USA,m,single,n
2,28073,2053,24h,leisure,35,USA,m,single,n
3,33522,2053,24h,bonding,35,USA,m,single,n
4,34522,2053,24h,leisure,35,USA,m,single,n
5,35522,2053,24h,affection,35,USA,m,single,n
6,40281,2053,24h,leisure,35,USA,m,single,n
7,40381,2053,24h,achievement,35,USA,m,single,n
8,40481,2053,24h,affection,35,USA,m,single,n
9,27674,2,24h,affection,29.0,IND,m,married,y
10,27874,2,24h,affection,29.0,IND,m,married,y
11,28074,2,24h,achievement,29.0,IND,m,married,y
12,29946,2,24h,affection,29.0,IND,m,married,y
13,30945,2,24h,affection,29.0,IND,m,married,y
14,31944,2,24h,affection,29.0,IND,m,married,y
15,32821,2,24h,affection,29.0,IND,m,married,y
16,33021,2,24h,affection,29.0,IND,m,married,y
17,33221,2,24h,affection,29.0,IND,m,married,y
18,33843,2,24h,achievement,29.0,IND,m,married,y
19,34843,2,24h,affection,29.0,IND,m,married,y
20,35843,2,24h,affection,29.0,IND,m,married,y
21,36431,2,24h,affection,29.0,IND,m,married,y
22,36731,2,24h,affection,29.0,IND,m,married,y
23,37031,2,24h,bonding,29.0,IND,m,married,y
24,37599,2,24h,bonding,29.0,IND,m,married,y
25,38598,2,24h,affection,29.0,IND,m,married,y
26,39597,2,24h,affection,29.0,IND,m,married,y
27,40963,2,24h,affection,29.0,IND,m,married,y
28,41863,2,24h,affection,29.0,IND,m,married,y
29,42763,2,24h,affection,29.0,IND,m,married,y
...,...,...,...,...,...,...,...,...,...
100505,127721,13677,24h,affection,64,IND,m,married,y
100506,128221,13677,24h,affection,64,IND,m,married,y
100507,128721,13677,24h,affection,64,IND,m,married,y
100508,127724,6895,24h,affection,34,USA,m,married,y
100509,128224,6895,24h,achievement,34,USA,m,married,y
100510,128724,6895,24h,achievement,34,USA,m,married,y
100511,127727,8689,24h,enjoy_the_moment,24,USA,f,single,n
100512,128227,8689,24h,leisure,24,USA,f,single,n
100513,128727,8689,24h,bonding,24,USA,f,single,n
100514,127733,5798,24h,achievement,26,USA,m,single,n
100515,128233,5798,24h,bonding,26,USA,m,single,n
100516,128733,5798,24h,leisure,26,USA,m,single,n
100517,127740,10983,24h,achievement,32,USA,m,single,n
100518,128240,10983,24h,achievement,32,USA,m,single,n
100519,128740,10983,24h,achievement,32,USA,m,single,n
100520,127743,13605,24h,affection,36,USA,f,married,y
100521,128243,13605,24h,affection,36,USA,f,married,y
100522,128743,13605,24h,bonding,36,USA,f,married,y
100523,127747,2974,24h,bonding,24,MEX,m,single,n
100524,128247,2974,24h,leisure,24,MEX,m,single,n
100525,128747,2974,24h,enjoy_the_moment,24,MEX,m,single,n
100526,127748,8880,24h,achievement,58,USA,f,married,n
100527,128248,8880,24h,achievement,58,USA,f,married,n
100528,128748,8880,24h,affection,58,USA,f,married,n
100529,127751,11402,24h,affection,32,USA,m,married,n
100530,128251,11402,24h,achievement,32,USA,m,married,n
100531,128751,11402,24h,achievement,32,USA,m,married,n
100532,127759,11050,24h,achievement,65,IND,m,married,y
100533,128259,11050,24h,bonding,65,IND,m,married,y
100534,128759,11050,24h,enjoy_the_moment,65,IND,m,married,y